[Unit]
Description=Where Tracking Server
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/opt/where-web
ExecStart=/usr/local/bin/bun --watch run index.ts
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

